<div ng-controller="hostsController">

    <div class="row">
        <div class="col-xs-4">
            <div class="box  box-primary">
                <div class="box-header">
                    <h3 class="box-title">Hosts</h3>
                </div>
                <div class="box-body no-padding">
                    <table class="table table-striped">
                        <tbody>
                        <tr ng-repeat="host in hosts">
                            <td style="width: 50px;">{{$index + 1}}</td>
                            <td><a target="_blank" href="{{host.home}}">{{host.name}}</a></td>
                            <td style="width: 60px;"><a target="_blank" href="{{host.masterUrl}}"
                                                        ng-show="{{host.master}}" class="badge bg-blue">主节点</a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</div>